page-home {
    ion-header [class^="toolbar-background"] {
        background-color: map-get($colors,light );
        border:none !important;
    }
    ion-header [class^="toolbar"] {
        min-height: 40px;
        padding: 0;
        color: map-get($colors,primary );
    }
    ion-segment [class^="segment"]{
        color: map-get($colors, primary) !important;
        border-color: map-get($colors, primary) !important;
        max-width: 100% !important;
    }
    ion-content [class^="fixed-content"] [class^="scroll-content"]{
        margin-top: 16vh !important;
    }
    .has-refresher .scroll-content{
        border-top: 0 !important;
    }
    
    .notifs{
        position: relative;
        ion-badge{
            position: absolute;
            top: -3px;
            right: -9px;
            padding: 3px 5px;
            font-size: 9px;
            text-align: right;
        }
    }

    ion-navbar {
        min-height: 6vh;
        padding: 0;
    }
    ion-card{
       
        ion-label{
            white-space: normal !important;
        }
    }

    ion-segment-button.segment-button.segment-activated{
        font-size: 1.5rem;
    }
    
    .parent {
        position: relative;
    }
    .duration{
        position: absolute;
        bottom:4px;
        right:4px;
        border-radius: 20px;
        overflow: hidden;
    }
    .vidpoints{
        position: absolute;
        top:5px;
        right:5px;  
    }
    .vidplay{
        position: absolute;
        top:40%;
        left:50%;
        color:rgba(256,256,256,0.5);
        font-size: 40pt;
    }
}
