<ion-menu [content]="content" *ngIf="!this.platform.isRTL" side="left">
  <ion-header>
  </ion-header>

  <ion-content>
    <div class="menubanner">
      <img src="assets/img/vtube-logo-gray.svg" 
      style="position: absolute;bottom: 0;left: 0;width: 30vw;top: 0;right: 0;margin: auto; max-width: 100px;" 
      [hidden]='pageState'/> <!-- put global boolean login variable here -->
      <div class="username" [hidden]='!pageState'> <!-- put global boolean login variable here -->
          <img class="avatar" [src]="avatar" onerror="this.onerror=null;this.src='https://mobilevtube.the-v.net/Resources/vtube/images/UserAvatar(80x80px).jpg';"/>
        <h6>{{username}}</h6>
        <p>{{email}}</p>
      </div>
      <div class="userpoints" [hidden]='!pageState'> <!-- put global boolean login variable here -->
        <h3>{{points}}</h3>
        <p>{{'POINTS' | translate}}</p>
      </div>
    </div>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" class="menuItems" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>{{p.title | translate}}
      </button>
      <button menuClose ion-item class="menuItems" (click)="logoutAlert()" [hidden]="!pageState"> <!-- put global boolean login variable here -->
        <ion-icon name="md-log-out" item-left></ion-icon>{{'LOGOUT' | translate}}
      </button>
      <button menuClose ion-item class="menuItems" (click)="login()" [hidden]="pageState"> <!-- put global boolean login variable here -->
        <ion-icon name="md-log-in" item-left></ion-icon>{{'LOGIN' | translate}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-menu [content]="content" *ngIf="this.platform.isRTL" side="right">
  <ion-header>
  </ion-header>

  <ion-content>
    <div class="menubanner">
      <img src="assets/img/vtube-logo-gray.svg" 
      style="position: absolute;bottom: 0;left: 0;width: 30vw;top: 0;right: 0;margin: auto; max-width: 100px;" 
      [hidden]='pageState'/> <!-- put global boolean login variable here -->
      <div class="username" [hidden]='!pageState'> <!-- put global boolean login variable here -->
          <img class="avatar" [src]="avatar" onerror="this.onerror=null;this.src='https://mobilevtube.the-v.net/Resources/vtube/images/UserAvatar(80x80px).jpg';"/>
        <h6>{{username}}</h6>
        <p>{{email}}</p>
      </div>
      <div class="userpoints" [hidden]='!pageState'> <!-- put global boolean login variable here -->
        <h3>{{points}}</h3>
        <p>{{'POINTS' | translate}}</p>
      </div>
    </div>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" class="menuItems" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>{{p.title | translate}}
      </button>
      <button menuClose ion-item class="menuItems" (click)="logoutAlert()" [hidden]="!pageState"> <!-- put global boolean login variable here -->
        <ion-icon name="md-log-out" item-left></ion-icon>{{'LOGOUT' | translate}}
      </button>
      <button menuClose ion-item class="menuItems" (click)="login()" [hidden]="pageState"> <!-- put global boolean login variable here -->
        <ion-icon name="md-log-in" item-left></ion-icon>{{'LOGIN' | translate}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>