page-play-downloaded-video {
ion-header {
        z-index: 20;

        > ion-navbar {
            > div.toolbar-background {
                background: linear-gradient(rgba(0,0,0,0.6), transparent) !important;
            }
    
            button.bar-button {
                color: white;
            }
        }
    }

    > ion-content {
        > div.scroll-content, > div.fixed-content {
            margin-top: 0 !important;
        }
    }
    
    video::-webkit-media-controls-fullscreen-button {
        display: none;
    }
    .videoPlayer {
        z-index: 10;
        height: 100vh;
        width: 100vw;
        background-color: black;
    }
}
