page-notif-modal {
    
    ion-content{
        background-color: transparent !important;

    }
    ion-item{
        border-radius: 20px !important;
        box-shadow: rgba(0, 0, 0,  0.3) 2px 2px 5px;
    }
}
